USE [master]
GO
/****** Object:  Database [CS_TDAMovieTheater]    Script Date: 16-Nov-20 1:46:27 PM ******/
CREATE DATABASE [CS_TDAMovieTheater]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CS_TDAMovieTheater', FILENAME = N'D:\important_Software\SQL\MSSQL14.HOANG\MSSQL\DATA\CS_TDAMovieTheater.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CS_TDAMovieTheater_log', FILENAME = N'D:\important_Software\SQL\MSSQL14.HOANG\MSSQL\DATA\CS_TDAMovieTheater_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CS_TDAMovieTheater].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CS_TDAMovieTheater]
GO
/****** Object:  Table [dbo].[Auditorium]    Script Date: 16-Nov-20 1:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auditorium](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](32) NULL,
	[Seats_no] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 16-Nov-20 1:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Discount_percent] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 16-Nov-20 1:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NULL,
	[Password] [varchar](100) NULL,
	[Name] [nvarchar](100) NULL,
	[Dob] [date] NULL,
	[Address] [varchar](100) NULL,
	[Phone] [varchar](100) NULL,
	[Mail] [varchar](100) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 16-Nov-20 1:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NULL,
	[Director] [varchar](100) NULL,
	[Cast] [varchar](1000) NULL,
	[Description] [text] NULL,
	[Duration_min] [int] NULL,
	[Thumnail_link] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Row_classification]    Script Date: 16-Nov-20 1:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Row_classification](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](32) NULL,
	[Price] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Screening]    Script Date: 16-Nov-20 1:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Screening](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Movie_id] [int] NULL,
	[Auditorium_id] [int] NULL,
	[Screening_Date] [date] NULL,
	[Start] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 16-Nov-20 1:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Row_name] [varchar](32) NULL,
	[Number] [int] NULL,
	[Auditorium_id] [int] NULL,
	[Type_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat_reservation]    Script Date: 16-Nov-20 1:46:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat_reservation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Seat_id] [int] NULL,
	[Screening_id] [int] NULL,
	[Employee_id] [int] NULL,
	[Note] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Auditorium] ON 

INSERT [dbo].[Auditorium] ([Id], [Name], [Seats_no]) VALUES (1, N'A', 108)
INSERT [dbo].[Auditorium] ([Id], [Name], [Seats_no]) VALUES (2, N'B', 108)
INSERT [dbo].[Auditorium] ([Id], [Name], [Seats_no]) VALUES (3, N'C', 108)
SET IDENTITY_INSERT [dbo].[Auditorium] OFF
SET IDENTITY_INSERT [dbo].[Movie] ON 

INSERT [dbo].[Movie] ([Id], [Title], [Director], [Cast], [Description], [Duration_min], [Thumnail_link]) VALUES (2, N'Spider-Man: Into the Spider-Verse', N'Peter Ramsey, Rodney Rothman, Bob Persichetti', N'Shameik Moore, Jake Johnson, Hailee Steinfeld, MORE', N'After gaining superpowers from a spider bite, Miles Morales protects the city as Spider-Man. Soon, he meets alternate version
s of himself and gets embroiled in an epic battle to save the multiverse.', 116, N'images\into_spider_verse.jpg')
INSERT [dbo].[Movie] ([Id], [Title], [Director], [Cast], [Description], [Duration_min], [Thumnail_link]) VALUES (3, N'Your Name', N'Makoto Shinkai', N'Mone Kamishiraishi, Ryunosuke Kamiki, Aoi Yuki, MORE', N'Two teenagers share a profound, magical connection upon discovering they are swapping bodies. But things become even more complicated
when the boy and girl decide to meet in person.', 112, N'images\onamaewa.jpg')
SET IDENTITY_INSERT [dbo].[Movie] OFF
SET IDENTITY_INSERT [dbo].[Row_classification] ON 

INSERT [dbo].[Row_classification] ([Id], [Type], [Price]) VALUES (1, N'Normal', 75)
INSERT [dbo].[Row_classification] ([Id], [Type], [Price]) VALUES (2, N'Vip', 95)
INSERT [dbo].[Row_classification] ([Id], [Type], [Price]) VALUES (3, N'Deluxe', 120)
SET IDENTITY_INSERT [dbo].[Row_classification] OFF
SET IDENTITY_INSERT [dbo].[Screening] ON 

INSERT [dbo].[Screening] ([Id], [Movie_id], [Auditorium_id], [Screening_Date], [Start]) VALUES (1, 1, 1, CAST(N'2020-11-16' AS Date), 8)
INSERT [dbo].[Screening] ([Id], [Movie_id], [Auditorium_id], [Screening_Date], [Start]) VALUES (2, 2, 2, CAST(N'2020-11-16' AS Date), 8)
INSERT [dbo].[Screening] ([Id], [Movie_id], [Auditorium_id], [Screening_Date], [Start]) VALUES (3, 3, 3, CAST(N'2020-11-16' AS Date), 8)
GO
SET IDENTITY_INSERT [dbo].[Screening] OFF
SET IDENTITY_INSERT [dbo].[Seat] ON 

INSERT [dbo].[Seat] ([Id], [Row_name], [Number], [Auditorium_id], [Type_id]) VALUES (1, N'A', 1, 1, 1)
INSERT [dbo].[Seat] ([Id], [Row_name], [Number], [Auditorium_id], [Type_id]) VALUES (2, N'A', 2, 1, 1)
INSERT [dbo].[Seat] ([Id], [Row_name], [Number], [Auditorium_id], [Type_id]) VALUES (3, N'A', 3, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Seat] OFF
ALTER TABLE [dbo].[Screening]  WITH CHECK ADD FOREIGN KEY([Auditorium_id])
REFERENCES [dbo].[Auditorium] ([Id])
GO
ALTER TABLE [dbo].[Screening]  WITH CHECK ADD FOREIGN KEY([Movie_id])
REFERENCES [dbo].[Movie] ([Id])
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD FOREIGN KEY([Auditorium_id])
REFERENCES [dbo].[Auditorium] ([Id])
GO
ALTER TABLE [dbo].[Seat]  WITH CHECK ADD FOREIGN KEY([Type_id])
REFERENCES [dbo].[Row_classification] ([Id])
GO
ALTER TABLE [dbo].[Seat_reservation]  WITH CHECK ADD FOREIGN KEY([Employee_id])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Seat_reservation]  WITH CHECK ADD FOREIGN KEY([Screening_id])
REFERENCES [dbo].[Screening] ([Id])
GO
ALTER TABLE [dbo].[Seat_reservation]  WITH CHECK ADD FOREIGN KEY([Seat_id])
REFERENCES [dbo].[Seat] ([Id])
GO
USE [master]
GO
