* {
  box-sizing: border-box;
}
body {
  background-color: #141922;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-color: #1f2635;
}

header .page-logo {
  width: 40px;
  margin-right: 1rem;
}

header h1.page-title {
  font-size: 1.25rem;
}

.register {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 3rem;
}

.form-group input,
.row input {
  background-color: #1f2635;
  transition: 0.2s all ease-in;
}

.form-group input:focus,
.row input:focus {
  background-color: #1f2635;
  border-color: #ffa300;
}

hr {
  border-top: 1px solid #373b43;
}
form button {
  width: 100%;
  background-color: #ffa300 !important;
  color: black !important;
  padding: 0.75rem 0rem !important;
}

.agree-term-check {
  color: #b3b3b3;
}

.agree-term-check span {
  color: #ffa300;
}

.register__title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.account-login {
  text-align: center;
  margin-top: 0.5rem;
  color: #b3b3b3;
}

.account-login a {
  color: #ffa300;
}
