@font-face {
  font-family: "Nunito";
  font-style: normal;
  src: url("../font/nunito-regular.woff"); /* IE9 Compat Modes */
}

* {
  font-family: "Nunito";
  box-sizing: border-box;
}

:root {
  --primary-clr: #ffa300;
}

.page-header {
  background-color: #1f2635;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand img {
  width: 40px;
  margin-right: 0.75rem;
}

.navbar-brand h1 {
  font-size: 1rem;
}

.navbar-collapse .form-inline {
  margin-left: 2rem;
}

.navbar-nav > .nav-item {
  margin: 0rem 2rem;
}

.account-panel {
  display: flex;
  align-items: center;
}

.account-panel a {
  margin: 0rem 1rem;
  font-weight: lighter !important;
}

.account-panel a.sign-up {
  color: black;
  background-color: var(--primary-clr);
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.account-panel a.login {
  color: var(--primary-clr);
}

.main {
  background-color: #141922;
}

/* Style for page banner */
.lines {
  height: 160px;
  background-color: #ab54ea;
  width: 1px;
  position: absolute;
  left: 50%;
}

.lines .circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  background: #4b1396;
  border: 1px solid #ab54ea;
  left: -3px;
}

.lines .circle:nth-child(1) {
  top: 20px;
}
.lines .circle:nth-child(2) {
  top: 40px;
}
.lines .circle:nth-child(3) {
  top: 60px;
}
.lines .circle:nth-child(4) {
  top: 80px;
}
.lines .circle:nth-child(5) {
  top: 100px;
}
.lines .circle:nth-child(6) {
  top: 120px;
}

.page-banner {
  background-image: url("../images/bg_jumbo.webp");
  background-size: cover;
  padding-bottom: 200px;
}

.page-banner .container {
  position: relative;
}

.page-banner h2 {
  max-width: 762px;
  color: white;
  font-size: 3.5rem;
  padding-top: 5rem;
}

.page-banner p {
  color: white;
}

.btn-start {
  position: relative;
  background-image: linear-gradient(to right, #ffa300, #f00039 100%);
  border: none;
  color: white;
  padding: 0.75rem 1.75rem;
  border-radius: 5px;
  z-index: 2;
}

.btn-start:after {
  content: "";
  position: absolute;
  background-image: url(../images/game.png);
  width: 267px;
  height: 203px;
  background-color: transparent;
  z-index: -1;
  left: 2rem;
  top: 1.5rem;
}

.page-overview {
  margin-top: 2rem;
}

/* Style for top-charge-card and video-tutorial */
.top-charge-card {
  text-align: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
}
.top-charge-card h3 {
  font-size: 1.75rem;
}
.top-charge-card__items {
  padding-left: 0;
}
.top-charge-card__item {
  margin: 1rem 0rem;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.top-charge-card__item i {
  position: relative;
  font-size: 24px;
}

.top-charge-card__item i span {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 12px;
  transform: translate(-50%, -50%);
  color: black;
}

.total-amount {
  padding: 0.5rem;
  background-color: #efef75;
  color: black;
  border-radius: 6px;
}

/* Style for account display and filer */

.account-display {
  margin-top: 2rem;
  padding-bottom: 1rem;
}

.account-filter__actions button {
  border: none;
  padding: 0.5rem 1.5rem;
  margin: 0rem 0.25rem;
  background-color: var(--primary-clr);
}

.account-filter__fields {
  margin-top: 1rem;
}
.account-filter__field {
  margin-top: 0.5rem;
}
.account-filter__fields .dropdown {
  width: 100%;
}

.account-filter__fields .dropdown button {
  width: 100%;
}

.account-filter header {
  display: flex;
  justify-content: space-between;
}
.dropdown-toggle {
  text-align: left;
}

.dropdown-toggle::after {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* style for account newest display */
.account-display {
  position: relative;
  overflow: hidden;
}
.account-display__newest {
  margin-top: 1rem;
  position: relative;
  z-index: 1;
}

.account-display__newest .card {
  width: 17rem !important;
  margin-top: 1rem;
}

.account-display__pagination {
  margin-top: 0.75rem;
}

.right-svg {
  width: 339px;
  height: 569px;
  background-image: url("../images/right_shape.svg");
  position: absolute;
  bottom: 180px;
  right: -100px;
}

.left-svg {
  width: 843px;
  height: 831px;
  background-image: url("../images/left_shape.svg");
  position: absolute;
  bottom: -100px;
  left: -250px;
  z-index: 0;
}

/* style for footer */

footer {
  padding: 1rem 0rem;
  text-align: center;
}

.page-social-contact {
  display: flex;
  justify-content: center;
}

.page-social-contact a {
  display: flex;
  align-items: center;
}

.page-social-contact i {
  font-size: 20px;
  margin: 0 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--primary-clr);
  color: var(--primary-clr);
  width: 45px;
  height: 45px;
  transition: 0.2s all ease-in;
}

.page-social-contact i:hover {
  background-color: var(--primary-clr);
  color: black;
}

footer p {
  margin-top: 1rem;
  font-size: 0.75rem;
}
