* {
  box-sizing: border-box;
}
body {
  background-color: #141922;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-color: #1f2635;
}

header .page-logo {
  width: 40px;
  margin-right: 1rem;
}

header h1.page-title {
  font-size: 1.25rem;
}

.login {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 3rem;
}

.login-left__title {
  padding-left: 1rem;
  font-size: 1.3rem;
}

.login-left__actions {
  display: flex;
  justify-content: center;
}

.login-left__item {
  display: flex;
  align-items: center;
  border: 1px solid #27395d;
  border-radius: 3px;
  padding: 0.5rem 0.75rem;
  transition: 0.2s all ease-in;
}

.login-left__item .left {
  margin-right: 2.75rem;
  color: #b3b3b3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-left__item .left p {
  font-weight: bold;
  font-size: 1.75rem;
  margin-bottom: 0;
}

.login-left__item:hover {
  text-decoration: none;
  border-color: #ffa300;
}

.login-left__item .right i {
  font-size: 40px;
}

.login-left__buy {
  margin-right: 2rem;
}

.login-left__buy .right i {
  color: #ffa300;
}

.login-form {
  background-color: #263044;
  padding: 1.25rem;
  margin-top: 1.5rem;
}

.login-form .login-form__title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

form button {
  width: 100%;
  background-color: #ffa300 !important;
  color: black !important;
  padding: 0.75rem 0rem !important;
}

.form-group input {
  background-color: #1f2635;
}

.form-group label {
  color: #b3b3b3;
}

.account-register {
  text-align: right;
  margin-top: 0.5rem;
  color: #b3b3b3;
}

.account-register a {
  color: #ffa300;
}
